<html>
<head>
    <title>77 Diamonds Test</title>
    <style>
        body {
            font-family: Helvetica Neue, Arial, sans-serif;
            font-size: 14px;
            color: #444;
        }

        table {
            border: 2px solid #42b983;
            border-radius: 3px;
            background-color: #fff;
        }

        th {
            background-color: #42b983;
            color: rgba(255, 255, 255, 0.66);
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        td {
            background-color: #f9f9f9;
        }

        th,
        td {
            min-width: 120px;
            padding: 10px 20px;
        }

            th.active {
                color: #fff;
            }

                th.active .arrow {
                    opacity: 1;
                }

        .arrow {
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 0;
            margin-left: 5px;
            opacity: 0.66;
        }

            .arrow.asc {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 4px solid #fff;
            }

            .arrow.dsc {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid #fff;
            }

        #dPictureComponent span {
            display: inline-block;
            padding: 5px;
            width: 180px;
            border: 1px solid black;
        }

        .noclass {
            border: none !important;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/x-template" id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="key in columns"
                        @click="sortBy(key)"
                        :class="{ active: sortKey == key }">
                        {{ key | capitalize }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                        </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredItems" :key="entry.itemId">
                    <!--<td v-for="key in columns">
                        {{entry[key]}}
                    </td>-->
                    <td>{{entry.itemCode}}</td>
                    <td>{{entry.itemName}}</td>
                    <td>{{entry.colorTotal}}</td>
                    <td>{{entry.fabricTotal}}</td>
                    <td>{{entry.pictureTotal}}</td>
                    <td><button id="btnEdit" :data-id="entry.itemId" @click.prevent="editItem()">Edit Images</button></td>
                </tr>
            </tbody>
        </table>
    </script>
</head>
<body class="bg-light">
    <div class="container-lg">
        <div id="demo">
            <form id="search">
                Search <input name="query" v-model="searchQuery" />
            </form>
            <demo-grid :items="gridData"
                       :columns="gridColumns"
                       :filter-key="searchQuery">
            </demo-grid>
            <div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Images</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <b> <span>Item Id</span></b> <span id="spItemId"></span>
                            </div>
                            <div>
                                <b><span>Item Name</span></b>  <span id="spItemName"></span>
                            </div>
                            <div id="dPictureComponent">

                            </div>
                            <input style="visibility:hidden;" id="files" name="files"
                                   type="file" size="1" onchange="uploadFiles('files');" />
                            <!--<table>
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>White</th>
                                        <th>Yellow</th>
                                        <th>Green</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Cotton
                                        </td>
                                        <td>
                                            <button id="btnAddCottonWhite">Add</button>
                                        </td>
                                        <td>
                                            <button id="btnAddCottonYellow">Add</button>
                                        </td>
                                        <td>
                                            <button id="btnAddCottonGreen">Add</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Linen
                                        </td>
                                        <td>
                                            <button id="btnAddLinenWhite">Add</button>
                                        </td>
                                        <td>
                                            <button id="btnAddLinenYellow">Add</button>
                                        </td>
                                        <td>
                                            <button id="btnAddLinenGreen">Add</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Silk
                                        </td>
                                        <td>
                                            <button id="btnAddSilkWhite">Add</button>
                                        </td>
                                        <td>
                                            <button id="btnAddSilkYellow">Add</button>
                                        </td>
                                        <td>
                                            <button id="btnAddSilkGreen">Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // register the grid component

        Vue.component("demo-grid", {
            template: "#grid-template",
            //template: "#edit-modal",
            props: {
                items: Array,
                columns: Array,
                filterKey: String
                //selectedItem:Object
            },
            data: function () {
                var sortOrders = {};
                this.columns.forEach(function (key) {
                    sortOrders[key] = 1;
                });
                return {
                    sortKey: "",
                    sortOrders: sortOrders
                };
            },
            computed: {
                filteredItems: function () {
                    var sortKey = this.sortKey;
                    var filterKey = this.filterKey && this.filterKey.toLowerCase();
                    var order = this.sortOrders[sortKey] || 1;
                    var items = this.items;
                    if (filterKey) {
                        items = items.filter(function (row) {
                            return Object.keys(row).some(function (key) {
                                return (
                                    String(row[key])
                                        .toLowerCase()
                                        .indexOf(filterKey) > -1
                                );
                            });
                        });
                    }
                    if (sortKey) {
                        items = items.slice().sort(function (a, b) {
                            a = a[sortKey];
                            b = b[sortKey];
                            return (a === b ? 0 : a > b ? 1 : -1) * order;
                        });
                    }
                    return items;
                }
            },
            filters: {
                capitalize: function (str) {
                    return str.charAt(0).toUpperCase() + str.slice(1);
                }
            },
            methods: {
                sortBy: function (key) {
                    this.sortKey = key;
                    this.sortOrders[key] = this.sortOrders[key] * -1;
                },
                editItem: function () {
                    var id = event.target.getAttribute('data-id');
                    selectedItem = this.items.filter(x => x.itemId == id)[0];

                    $("#spItemId").text(selectedItem.itemCode);
                    $("#spItemName").text(selectedItem.itemName);
                    $('#itemModal').modal('show');

                    CreatePictureComponent(id);
                }
            }
        });

        //Vue.component("edit-grid", {
        //    template: "#edit-template",
        //    props: {
        //        colors: Array,
        //        fabrics: Array
        //    },
        //    computed: {
        //        colors: function () {
        //            var response;
        //            $.ajax({
        //                type: "GET",
        //                crossDomain: true,
        //                contentType: "application/json",
        //                dataType: 'json',
        //                async: false,
        //                url: "http://localhost:5012/api/Master/GetColors",
        //                xhrFields: {
        //                    withCredentials: true
        //                },
        //                success: function (data) {
        //                    response = data;
        //                }
        //            });
        //            debugger;
        //            return response;
        //        },
        //        fabrics: function () {
        //            var response;
        //            $.ajax({
        //                type: "GET",
        //                crossDomain: true,
        //                contentType: "application/json",
        //                dataType: 'json',
        //                async: false,
        //                url: "http://localhost:5012/api/Master/GetFabrics",
        //                xhrFields: {
        //                    withCredentials: true
        //                },
        //                success: function (data) {
        //                    response = data;
        //                }
        //            });
        //            debugger;
        //            return response;
        //        }
        //    }
        //});

        var demo = new Vue({
            el: "#demo",
            props: {
                selectedItem: Object
            },
            data: {
                searchQuery: "",
                //selectedItem: Object,
                gridColumns: ["itemCode", "itemName", "colorTotal", "fabricTotal", "pictureTotal"],
                gridData: GetData()
            }
        });

        function GetData() {
            var response;
            $.ajax({
                type: "GET",
                crossDomain: true,
                contentType: "application/json",
                dataType: 'json',
                async: false,
                //headers: {
                //    Authorization: 'Bearer ' + token
                //},
                url: "http://localhost:5012/api/Item/GetItems",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    response = data;
                }
            });
            return response;
        }
        function GetColors() {

            var response;
            $.ajax({
                type: "GET",
                crossDomain: true,
                contentType: "application/json",
                dataType: 'json',
                async: false,
                url: "http://localhost:5012/api/Master/GetColors",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    response = data;
                }
            });
            return response;
        }
        function GetFabrics() {
            var response;
            $.ajax({
                type: "GET",
                crossDomain: true,
                contentType: "application/json",
                dataType: 'json',
                async: false,
                url: "http://localhost:5012/api/Master/GetFabrics",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    response = data;
                }
            });
            return response;
        }

        function GetItemView(itemId) {
            var response;
            $.ajax({
                type: "GET",
                crossDomain: true,
                contentType: "application/json",
                dataType: 'json',
                async: false,
                data: { 'itemId': itemId },
                url: "http://localhost:5012/api/Item/GetItemDetailView",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    response = data;
                }
            });
            return response;
        }

        function CreatePictureComponent(itemId) {
            var itemDetails = GetItemView(itemId);

            $("#dPictureComponent").html('');
            var colors = GetColors();
            var fabrics = GetFabrics();

            //dPictureComponent
            $("#dPictureComponent").append("<div>");
            $("#dPictureComponent").append("<span class='noclass'></span>");
            $.each(colors, function (key, item) {
                $("#dPictureComponent").append("<span>" + item.colorName + "</span>");
            });
            $("#dPictureComponent").append("</div>");

            $.each(fabrics, function (key, fabricItem) {

                $("#dPictureComponent").append("<div>");
                $("#dPictureComponent").append("<span>" + fabricItem.fabricName + "</span>");
                $.each(colors, function (index, colorItem) {
                    $.each(itemDetails, function (itemIndex, itemDetail) {
                        if (itemDetail.colorId === colorItem.colorId
                            && itemDetail.fabricId === fabricItem.fabricId) {
                            $("#dPictureComponent").append("<span><button id='btnAdd' color-id='"
                                + colorItem.colorId + "' fabric-id='"
                                + fabricItem.fabricId + "' item-id='" + itemId + "' item-detail-id='" + itemDetail.itemDetailId + "'>Add</button></span>");
                        }
                    });
                });
                $("#dPictureComponent").append("</div>");
            });
        }

        function uploadFiles(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }


            $.ajax({
                url: "http://localhost:5012/api/Item/UploadFile",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    var currentItem = fileObj.currentItem;
                    $(currentItem.parentElement).append("<img src='" + "http://localhost:5012/ItemImages/" + data.fileName + "' width='30px;' height='30px;'></img>");
                    SaveItemPicture(data.fileName);
                }
            });
        }

        function SaveItemPicture(fileName) {
            var send_data = {
                "ItemId": fileObj.itemId,
                "ItemDetailId": fileObj.itemDetailId,
                "ColorId": fileObj.colorId,
                "FabricId": fileObj.fabricId,
                "PictureFile": fileName
            };
            var json = JSON.stringify(send_data);

            $.ajax({
                url: "http://localhost:5012/api/Item/SaveItem",
                crossDomain: true,
                contentType: "application/json",
                dataType: 'json',
                async: false,
                data: json,
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    
                }
            });
        }
        var fileObj;
        $(document).ready(function () {
            $("body").on("click", "#dPictureComponent button", function () {
                fileObj = {
                    "currentItem": this
                    , "colorId": $(this).attr('color-id')
                    , "fabricId": $(this).attr('fabric-id')
                    , "itemId": $(this).attr('item-id')
                    , "itemDetailId": $(this).attr('item-detail-id')
                };
                document.getElementById("files").click();
            });

            $("body").on("click", "#dPictureComponent img", function () {
                var picture = $(this);
                bootbox.confirm({
                    message: "Are you sure want to delete?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        $(picture).remove();
                        //call api method to delete from Database
                    }
                });

            });
        })
    </script>
</body>
</html>

